<div class="flex items-center justify-center h-screen">
    <div clas="flex-col justify-center p-8">
        <h1 class="flex justify-center text-3xl font-extrabold text-white">
            Shopify Skeleton
        </h1>
        <div>
            <ul class="flex mt-8 list-none">
                <li class="mx-8">
                    <a href="https://vite.dev/guide/">
                        <img src="{{ 'vite.svg' | asset_url }}" alt="Vite" class="w-24 h-24" width="32" height="32" />
                    </a>
                </li>
                <li class="mx-8">
                    <a href="https://www.typescriptlang.org/docs/handbook/tsconfig-json.html">
                        <img src="{{ 'typescript.svg' | asset_url }}" alt="TypeScript"  class="w-24 h-24" width="32" height="32" />
                    </a>
                </li>
                <li class="mx-8">
                    <a href="https://tailwindcss.com/docs/installation">
                        <img src="{{ 'tailwind.svg' | asset_url }}" alt="Tailwind" class="w-24 h-24" width="32" height="32" />
                    </a>
                </li>
            </ul>
        </div>        
    </div>
</div>