<section>
    <div class="flex">
        {%-  render 'quiz-slide', settings: section.settings -%}
    </div>
</section>

{% schema %}
{
  "name": "Quiz",
  "settings": [],
  "blocks": [
    {
        "type": "quiz-slide",
        "name": "Quiz Slide",
        "settings": []
    }
  ]
}
{% endschema %}