@tailwind base;
@tailwind components;
@tailwind utilities;

/* .bg-dark-mode {
  background-image: url('../assets/dark-mode.jpg');
} */
/* @layer utilities {
  .menu {
    @apply absolute top-full left-0 w-full opacity-0 transform scale-y-0 transition-all duration-300 ease-in-out;
  }

  .group-hover .menu {
    @apply opacity-100 transform scale-y-100;
  }
} */
/* menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease, transform 0.3s ease;
} */
menu.active {
  display: block;
  opacity: 1;
  transform: translateY(0);
}
/* menu .menu-item {
  display: none;
}
menu .menu-item.active {
  display: block;
} */

mega-menu a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s cubic-bezier(0.825, 0.005, 0.405, 1.22);
  pointer-events: none;
}

mega-menu a:hover::after {
  transform: scaleX(1);
}
